.header-nav{
    background-color:rgb(34, 94, 143);
}

.navbar-brand-title{
    color: #ffffff;
}

a{
    color: #ffffff;
}

a:hover{
    text-decoration: underline;
}

.welcome-msg{
    color:white;
}